/* Base Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container for the Registration Form */
  .register-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  
  .register-container {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
  }
  
  /* Heading Styles */
  h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  /* Input Focus and Hover Effects */
  input:focus,
  input:hover {
    border-color: #4caf50;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
  }
  
  /* Button Styles */
  button {
    padding: 12px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  /* Button Hover and Active Effects */
  button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
  }
  
  button:active {
    transform: translateY(2px);
  }
  
  /* Success and Error Messages */
  .error-message {
    color: red;
    text-align: center;
    font-size: 14px;
  }
  
  .success-message {
    color: green;
    text-align: center;
    font-size: 14px;
  }
  
  /* Register Prompt Styles */
  .login-prompt {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-link {
    color: #4caf50;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .login-link:hover {
    color: #45a049;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  